Source: ros-hydro-turtlebot-create-desktop
Section: misc
Priority: extra
Maintainer: Marcus Liebhardt <marcus.liebhardt@yujinrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/turtlebot_create_desktop
Standards-Version: 3.9.2

Package: ros-hydro-turtlebot-create-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-create-dashboard, ros-hydro-create-gazebo-plugins
Description: Catkin meta-package for turtlebot_create_desktop
